



body{
    font-family: sans-serif;
}

input{
    padding: 10px 15px;
}


button{
    padding: 11px 15px;
    border: none;
    background-color: rgb(98, 98, 218);
    color: white;
    cursor: pointer;
}